*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    background-image: url("/images/backg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 0px -80px;
    position: relative;
}

.navbar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1499.200px;
    margin: auto;
    padding: 0 30px;
    height: 144px;
}
.navbar header ul{
    display: flex;
}
.navbar header ul li a{
    color: white;
    padding: 0px 20px;
}

i img{
    
    width: 20px;
    height: 20px;
}

.logo img{
    width: 161.012px;
    height: 145px;
}
.icons{
    display: flex;
    align-items: center;
}
.icons .real{
    margin-right: 20px;
}
.icons .real i{
    margin-right: 20px;
}


.head p{
    font-size:
24px;
}







@font-face {
    font-family: blender-pro;
    src: url("/BlenderPro-Medium/BlenderPro-Medium.woff");
  }
  
  body{
    font-family:blender-pro ;
    font-weight:bolder;
    font-size: 20px;


  }



  .main{
    width: 100%;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero{
    width: 742.825px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
  }
.hero h1{
    font-size: 85px;
}
  .hero h1,p{
    color: white;
  }

  .btns{
    display: flex;
    gap: 43px;
    margin-top: 20px;
  }
  .btn{
    background-color: #ff6600;
    padding: 22px 50px;
    border: 1px solid #ff6600;
    transition: 1s;
  }


  .btn:hover{
    background-color: transparent;
    
  }

  .btn p:hover{
     color: #ff6600;
  }
  

@media (min-height:864px){
    .container{
        background-position: 0px;
    }
}